body{
    background-color: bisque;
    padding: 0;
    margin: 0;
}


.circle{
    height: 300px;
    width:300px;
    overflow: hidden;
    border-radius: 50%;
        border: 10px solid grey;
    max-width: 80vw;
    max-height: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
      
    
    }
    .circle img {
      width: 100%
    }
    p{
        margin: 5px   ;
    }
    #welcome_section{
      display: flex;
   
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: burlywood;
    
     /* background-size: 100%;
         background-image: url('../assets/paw.jpg');*/
   min-width: 80vw;
   min-height: 80vh;
 
    }
    
    button{
        margin-bottom: 5rem;
    }



@media(max-width: 800px){
    .circle{
      height: 200px;
  width:200px;
  overflow: hidden;
  border-radius: 50%;
      border: 10px solid grey;
  max-width: 80vw;
  max-height: 80vw;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
  
  }